<div>
  <button class="btn btn-sm" [routerLink]="['/user-management']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>

<div class="bg-white p-4 shadow-sm rounded">
  <div class="d-flex justify-content-center">
    <form class="col-md-12 col-lg-10 mt-5">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name</label>
          <input type="text" class="form-control" id="inputEmail4" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Display Name</label>
          <input type="text" class="form-control" id="inputEmail4" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email ID</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Whatsapp Number</label>
          <input type="number" class="form-control" id="phonenumber" />
        </div>
      </div>

      <div class="form-row my-3">
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" />
        </div>
        <div class="col-md-3 col-lg-3">
          <label class="">Roles</label>
          <ng-select
            [items]="roleList"
            bindLabel="name"
            placeholder="Roles"
            class="form-group custom-ht"
          >
          </ng-select>
        </div>

        <div class="form-group col-md-3 col-lg-3">
          <label for="inputEmail4">Madhab</label>
          <ng-select
            [items]="madhab"
            bindLabel="name"
            placeholder="Madhab"
            class="form-group custom-ht"
          >
          </ng-select>
        </div>
      </div>

      <div class="form-row my-3">
        <div class="form-group col-md-6 col-lg-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" />
        </div>

        <div class="form-group col-md-6 col-lg-6">
          <label for="inputEmail4">Active Status</label>
          <ng-select
            [items]="activlist"
            bindLabel="name"
            placeholder="Active/Inactive"
            class="form-group custom-ht"
          >
          </ng-select>
        </div>
      </div>

      <div class="d-flex justify-content-end my-3">
        <button type="submit" class="btn btn-primary" *ngIf="mode === ''">
          Save
        </button>
        <button *ngIf="mode === 'edit'" type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
