<!-- Hading -->
<div class="bg-white my-2 pr-5 shadow-sm rounded">
  <div class="d-flex justify-content-end pr-5 p-3">
    <button class="btn" [routerLink]="['/category-management/add']">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Category
    </button>
  </div>
</div>
<!-- table List -->
<div class="container-fluid bg-white shadow-sm rounded p-3">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Main Categories</th>
          <th scope="col">Sub Categories</th>
          <th scope="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of list | paginate: { itemsPerPage: 10, currentPage: q }
          "
        >
          <td>
            {{ item.mainCategory }}
            <span class="font-weight-bold pl-2"> ({{ item.mainCatNo }}) </span>
          </td>
          <td class="">
            <div class="p-2 mx-1" *ngFor="let item1 of item.subCategory">
              {{ item1.sub }}
            </div>
          </td>

          <td class="">
            <button
              class="btn btn-primary btn-sm mx-2 rounded"
              [routerLink]="['/category-management/edit']"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <span class="px-1">Edit</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end cust-container">
      <pagination-controls (pageChange)="q = $event"></pagination-controls>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
