<!-- Hading -->
<div class="bg-white my-2 pr-2 shadow-sm rounded">
  <div class="d-flex justify-content-end">
    <button class="btn" [routerLink]="['/user-management/add']">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add User
    </button>
  </div>
</div>
<!-- table List -->
<div class="container-fluid bg-white shadow-sm rounded p-3">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Display Name</th>
          <th scope="col">Mail</th>
          <th scope="col">Role</th>
          <th scope="col" class="d-flex justify-content-center">
            Active / Inactive
          </th>
          <th scope="">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="list.length; else noDataAvailable">
        <tr
          *ngFor="
            let item of list | paginate: { itemsPerPage: 10, currentPage: q }
          "
        >
          <td>{{ item.id }}</td>
          <td>
            {{ item.name }}
            <!-- <span class="font-weight-bold pl-2"> ({{ item.count }})</span> -->
          </td>
          <td>{{ item.display_title }}</td>

          <td>{{ item.email }}</td>
          <td>{{ item.user_type?.title }}</td>
          <td class="d-flex justify-content-center">
            <span
              [ngClass]="{
                success: item?.user_status?.status == 'active',
                error: item?.user_status?.status == 'inactive'
              }"
            >
              {{ item.user_status?.status }}
            </span>
          </td>

          <td class="">
            <button
              class="btn btn-primary btn-sm rounded mx-1"
              [routerLink]="['/user-management/view', item.id]"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span class="px-1">View</span>
            </button>
            <button
              class="btn btn-primary btn-sm rounded"
              [routerLink]="['/user-management/edit', item.id]"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <span class="px-1">Edit</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="d-flex justify-content-end cust-container"
      *ngIf="list.length > 10"
    >
      <pagination-controls (pageChange)="q = $event"></pagination-controls>
    </div>
  </div>

  <ng-template #noDataAvailable>
    <tr>
      <td colspan="7">
        <app-no-data-available></app-no-data-available>
      </td>
    </tr>
  </ng-template>

  <router-outlet></router-outlet>
</div>
