.cust-container ::ng-deep .ngx-pagination .current {
  border-radius: 100% !important;
}
.active,
.inactive {
  border: 0.5px solid #ccc;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: small;
  color: azure;
}

.success,
.error {
  padding: 4px 15px;
  border-radius: 15px;
}
