<div>
  <button class="btn btn-sm" [routerLink]="['/article-management']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>

<div class="bg-white p-4 shadow-sm rounded">
  <div class="d-flex justify-content-center">
    <form class="col-md-12 col-lg-10 mt-5">
      <div class="form-row my-3">
        <div class="col-md-6 col-lg-6">
          <label class="">Mufti Name</label>
          <ng-select
            [items]="muftiNameList"
            bindLabel="name"
            placeholder="Mufthi Name"
            class="form-group custom-ht"
            [readonly]="mode == 'view'"
          >
          </ng-select>
        </div>

        <div class="col-md-6 col-lg-6 px-0">
          <label class="">Language</label>
          <ng-select
            [items]="lang"
            bindLabel="name"
            placeholder="Language"
            class=""
            [readonly]="mode == 'view'"
          >
          </ng-select>
        </div>
      </div>

      <div class="form-group col-md-12 col-lg-12 px-0">
        <label for="inputEmail4">Title</label>
        <input
          type="text"
          class="form-control"
          id="inputEmail4"
          placeholder="Title (max 80 Charecter)"
          [disabled]="mode === 'view'"
        />
      </div>

      <div class="form-group mt-4 px-0">
        <div class="row px-0" *ngIf="mode !== 'view'">
          <input
            type="file"
            class=""
            id="uploadfile"
            aria-describedby="inputGroupFileAddon01"
          />
          <label class="custom-file-label" for="inputGroupFile01"
            >Choose file</label
          >
        </div>
      </div>

      <div class="d-flex justify-content-end" *ngIf="mode === 'edit'">
        <button type="button" class="btn btn-sm mt-5">
          <i class="fa fa-download" aria-hidden="true"></i>
        </button>
      </div>

      <div *ngIf="mode === 'view'" class="px-0">
        <h6 class="px-0">Preview</h6>
        <div class="border rounded" style="height: 500px">
          <span>sample</span>
        </div>
      </div>

      <div class="d-flex justify-content-end my-5">
        <div *ngIf="mode != 'view'">
          <button type="submit" class="btn btn-danger">Draft</button>
        </div>
        <div *ngIf="mode != 'view'">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div *ngIf="mode === 'view'">
          <button type="submit" class="btn btn-primary">publish</button>
        </div>
      </div>
    </form>
  </div>
</div>
