<!-- Heading -->
<div class="bg-white shadow-sm rounded p-3 mb-3 mx-1 row">
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Status</label>
    <ng-select
      [items]="status"
      bindLabel="name"
      placeholder="Status"
      class="form-group"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-2">
    <label class="form-group font-weight-bold">Madhab</label>
    <ng-select
      [items]="madhab"
      bindLabel="name"
      placeholder="Madhab"
      class="form-group"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-2">
    <label class="form-group font-weight-bold">Category</label>
    <ng-select
      [items]="category"
      bindLabel="name"
      placeholder="Category"
      class="form-group"
      [(ngModel)]="selectedCategory"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-2">
    <label class="form-group font-weight-bold">Sub Category</label>
    <ng-select
      [items]="subCategory"
      bindLabel="name"
      placeholder="Sub Category"
      class="form-group"
      [readonly]="selectedCategory === null"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Mufthi</label>
    <ng-select
      [items]="mufthi"
      bindLabel="name"
      placeholder="Mufthi"
      class="form-group"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Mustafthi</label>
    <ng-select
      [items]="mustafthi"
      bindLabel="name"
      placeholder="Mustafthi"
      class="form-group"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-2">
    <label class="form-group font-weight-bold">Language</label>
    <ng-select
      [items]="language"
      bindLabel="name"
      placeholder="Language"
      class="form-group"
    >
    </ng-select>
  </div>
</div>

<!-- table List -->
<div class="container-fluid bg-white shadow-sm rounded p-3">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" scope="col">Question Id</th>
          <th class="text-center" scope="col">Mustafthi</th>
          <th class="text-center" scope="col">short Question</th>
          <th class="text-center" scope="">Create Date</th>
          <th class="text-center" scope="">Category</th>
          <th class="text-center" scope="">madhab</th>
          <th class="text-center" scope="">Mufthi</th>
          <th class="text-center" scope="">Status</th>
          <th class="text-center" scope=""></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of list | paginate: { itemsPerPage: 10, currentPage: q }
          "
        >
          <td class="text-center">{{ item.qid }}</td>
          <td class="text-center">{{ item.mustafthi }}</td>
          <td class="w-25">{{ item.shortQ }}</td>
          <td class="text-center">{{ item.dos }}</td>
          <td class="text-center">{{ item.category }}</td>
          <td class="text-center">{{ item.madhab }}</td>
          <td class="text-center">{{ item.mufthi }}</td>
          <td class="text-center">
            <span
              [ngClass]="{
                rejected: item.status === 'Rejected',
                pending: item.status === 'Pending',
                inprogress: item.status === 'Verifying',
                published: item.status === 'Published'
              }"
            >
              {{ item.status }}
            </span>
          </td>

          <td>
            <div class="d-flex justify-content-center align-items-center">
              <!-- <button class="btn btn-primary btn-sm mx-2 rounded">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button> -->
              <button
                class="btn btn-primary btn-sm mx-2 rounded"
                [routerLink]="['/fatwa-management/view']"
              >
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <!-- <button class="btn btn-primary btn-sm mx-2 rounded">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end cust-container">
      <pagination-controls (pageChange)="q = $event"></pagination-controls>
    </div>
  </div>
</div>
