<!-- Heading -->
<div class="bg-white shadow-sm rounded p-3 mb-3 mx-1 row">
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Status</label>
    <ng-select
      [items]="status"
      bindLabel="title"
      placeholder="Status"
      class="form-group"
      [(ngModel)]="selectedStatus"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Madhab</label>
    <ng-select
      [items]="madhab"
      bindLabel="title"
      placeholder="Madhab"
      class="form-group"
      [(ngModel)]="selectedMadhab"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Category</label>
    <ng-select
      [items]="category"
      bindLabel="title"
      placeholder="Category"
      class="form-group"
      [(ngModel)]="selectedCategory"
      (change)="chooseCategory($event)"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Sub Category</label>
    <ng-select
      [items]="subCategory"
      bindLabel="title"
      placeholder="Sub Category"
      class="form-group"
      [readonly]="selectedCategory === null"
      [(ngModel)]="selectedSubCategory"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Mufthi</label>
    <ng-select
      [items]="mufthi"
      bindLabel="name"
      placeholder="Mufthi"
      class="form-group"
      [(ngModel)]="selectedMufthi"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Mustafthi</label>
    <ng-select
      [items]="mustafthi"
      bindLabel="name"
      placeholder="Mustafthi"
      class="form-group"
      [(ngModel)]="selectedMustafthi"
    >
    </ng-select>
  </div>
  <div class="col-md-6 col-lg-3">
    <label class="form-group font-weight-bold">Language</label>
    <ng-select
      [items]="language"
      bindLabel="title"
      placeholder="Language"
      class="form-group"
      [(ngModel)]="selectedLanguage"
    >
    </ng-select>
  </div>

  <div class="col-md-6 col-lg-3 d-flex pt-2">
    <label class="form-group font-weight-bold"></label>
    <button class="btn btn-sm w-100 mt-4" (click)="getChangeFilter()">
      Apply
    </button>
  </div>
</div>
<!-- search bar -->
<hr />
<div class="col-md-12 d-flex justify-content-end align-items-end px-0">
  <div class="col-md-4 px-0">
    <div class="" style="height: 100%">
      <div class="input-group input-group">
        <input
          type="number"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="Question ID"
          [(ngModel)]="searchText"
          (change)="handleSearch()"
        />
        <span class="input-group-append">
          <button
            class="btn btn-outline-secondary m-0"
            type="button"
            (click)="handleSearch()"
          >
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- table List -->
<div class="container-fluid bg-white shadow-sm rounded p-3">
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="" scope="col">QId</th>
          <th class="" scope="col">Mustafthi</th>
          <th class="" scope="col">short Question</th>
          <th class="text-center" scope="">Create Date</th>
          <th class="text-center" scope="">Category</th>
          <th class="text-center" scope="">madhab</th>
          <th class="text-center" scope="">Mufthi</th>
          <th class="text-center" scope="">Status</th>
          <th class="text-center" scope="">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="list.length; else noDataAvailable">
        <tr
          *ngFor="
            let item of list | paginate: { itemsPerPage: 10, currentPage: q }
          "
        >
          <td class="text-center">{{ item.id }}</td>
          <td class="">{{ item?.user_id?.name }}</td>
          <td class="w-25">{{ item.short_question }}</td>
          <td class="text-center">{{ item.createdAt | date: "dd-MM-yyyy" }}</td>
          <td class="text-center">{{ item?.category?.title }}</td>
          <td class="text-center">{{ item?.madhab?.title }}</td>
          <td class="text-center">{{ item?.mufti?.name || "N.A" }}</td>
          <td class="text-center">
            <span
              [ngClass]="{
                rejected: item?.status?.title === 'Rejected',
                pending: item?.status?.title === 'Pending',
                inprogress: item?.status?.title === 'Verifying',
                published: item?.status?.title === 'Published'
              }"
            >
              {{ item?.status?.title }}
            </span>
          </td>

          <td>
            <div class="d-flex justify-content-center align-items-center">
              <button
                class="btn btn-primary btn-sm mx-2 rounded"
                [routerLink]="['/fatwa-management/view', item.id]"
              >
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- pagination -->
    <div
      class="d-flex justify-content-end cust-container"
      *ngIf="list.length >= 10"
    >
      <pagination-controls (pageChange)="q = $event"></pagination-controls>
    </div>
    <!-- pagination End-->
    <!-- No Data Available -->
    <ng-template #noDataAvailable>
      <tr>
        <td colspan="8">
          <app-no-data-available></app-no-data-available>
        </td>
      </tr>
    </ng-template>
    <!-- No Data Available End-->
  </div>
</div>
