.pending, .rejected, .reSUbmitted, .recievedToDI, .assMufthi, .mufthiAns ,.completeVerification,  .published {  
  background-color: brown;
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 1em;
}


.pending {
  background-color: #ffc107;
}
.rejected {
  background-color: #dc3545;  
}
.reSUbmitted {
  background-color: #e91e63;
}
.recievedToDI {
  background-color: #8bc34a;  
}
.assMufthi {
  background-color: #00bcd4;    
}
.mufthiAns {
  background-color: #009688;    
}
.completeVerification {
  background-color: #ff9800;
}
.published {
  background-color: #4caf50;  
}


input,
input button {
  height: 35px !important;
}

.cust-container ::ng-deep .ngx-pagination .current {
  border-radius: 100% !important;
}

.w10 {
  width: 10% !important;
}
