<!-- Top Section Statics Bars -1 -->
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Mustafthi</p>
              <p class="card-title">150</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total fatwas</p>
              <p class="card-title">1,345</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i> Last day</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">pending fatwas</p>
              <p class="card-title">25</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-clock-o"></i> In the last hour</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Answers fatwas</p>
              <p class="card-title">1,250</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i> Update now</div>
      </div>
    </div>
  </div>
</div>

<!-- Top Section Statics Bars - 2 -->
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Rejected Fatwas</p>
              <p class="card-title">15</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="row col-lg-5">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Go To answer with Q-ID</p>
                <p class="card-title">1,345</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 border-left">
            <div
              class="d-flex justify-content-end align-items-end"
              style="height: 100%"
            >
              <div class="input-group input-group-sm">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                />
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary m-0" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i> Last day</div>
      </div>
    </div>
  </div>
</div>

<!-- fatwas table list -->
<div class="">
  <div class="card card-stats">
    <div class="card-body">
      <div class="card-title h5 font-weight-bold border-bottom">
        Latest fatwas
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Q ID</th>
            <th scope="col">Mustafthi</th>
            <th scope="col">Category</th>
            <th scope="col">Madhab</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of list | paginate: { itemsPerPage: 5, currentPage: q }
            "
          >
            <td class="font-weight-bold">{{ item.id }}</td>
            <td>{{ item.MUSTAFTHI }}</td>
            <td>{{ item.CATEGORY }}</td>
            <td>{{ item.MADHAB }}</td>
            <td>
              <span
                [ngClass]="{
                  rejected: item.status === 'Rejected',
                  hold: item.status === 'on hold',
                  inprogress: item.status === 'In Progress',
                  published: item.status === 'Published'
                }"
              >
                {{ item.status }}
              </span>
            </td>
            <td class="d-flex justify-content-center">
              <button class="btn btn-primary btn-sm mx-2 rounded">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="px-1">Answer</span>
              </button>
              <button class="btn btn-primary btn-sm mx-2 rounded">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span class="px-1">View</span>
              </button>
              <button class="btn btn-primary btn-sm mx-2 rounded">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="q = $event"></pagination-controls>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body">
        <canvas id="chartHours" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr />
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div> -->
