<!-- Top Section Statics Bars -1 -->
<div class="row justify-content-center">
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Mustafthi</p>
              <p class="card-title">150</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">fatwas</p>
              <p class="card-title">{{ "1345" | number }}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">pendings</p>
              <p class="card-title">25</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Answered</p>
              <p class="card-title">1,250</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Rejected</p>
              <p class="card-title">15</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Section Statics Bars - 2 -->

<!-- fatwas table list -->
<div class="">
  <div class="card card-stats">
    <div class="card-body">
      <div class="row my-4">
        <div class="col-md-8">
          <div class="card-title h6 border-bottom pb-3">Latest fatwas</div>
        </div>
        <div class="col-md-4">
          <div
            class="d-flex justify-content-end align-items-end"
            style="height: 100%"
          >
            <div class="input-group input-group-sm">
              <input
                type="number"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                placeholder="Question ID"
                [(ngModel)]="searchText"
                (change)="handleSearch()"
              />
              <span class="input-group-append">
                <button
                  class="btn btn-outline-secondary m-0"
                  type="button"
                  (click)="handleSearch()"
                >
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Q ID</th>
            <th scope="col">Mustafthi</th>
            <th scope="col">Short Question</th>
            <th scope="col">Created Date</th>
            <th scope="col">Category</th>
            <th scope="col">Madhab</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="list.length; else noDataAvailable">
          <tr *ngFor="let item of list">
            <td class="font-weight-bold">{{ item.id }}</td>
            <td>{{ item?.mufti?.name }}</td>
            <td class="w-25">{{ item?.short_question }}</td>
            <td class="font-weight-bold text-secondary">
              {{ item?.reatedAt }}
            </td>
            <td>{{ item?.category?.title }}</td>
            <td>
              <span class="font-weight-bold text-secondary">
                {{ item?.madhab?.title }}
              </span>
            </td>

            <td>
              <span
                [ngClass]="{
                  rejected: item.status === 'Rejected',
                  hold: item.status === 'on hold',
                  inprogress: item.status === 'Verifying',
                  published: item.status === 'Published'
                }"
              >
                {{ item?.status?.title }}
              </span>
            </td>
            <td>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm mx-2 rounded">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary btn-sm mx-2 rounded">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary btn-sm mx-2 rounded">
                  <i class="fa fa-print" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #noDataAvailable>
        <app-no-data-available></app-no-data-available>
      </ng-template>

      <!-- <div class="cust-container d-flex justify-content-end">
        <pagination-controls (pageChange)="q = $event"></pagination-controls>
      </div> -->
    </div>
  </div>
</div>
